.userImg img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.userImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    padding: 20px;
    text-align: center;
    width: 70px;
    border-radius: 3px;
    background-color: white;

}
.userContain {
    padding: 20px;
    display: flex;
}

.selected {
    font-weight: bold;
}

.textContain {
    border: 1px solid;
    border-radius: 3px;
    margin-left: 20px;
    width: 400px;
    padding: 10px;
    background-color: white;
}