
.header {
    grid-area: h;
    background-color: lightgray;

}

.header img {
    width:50px;
    padding: 5px;
}

.loginBlock {
    float: right;
    padding: 20px;

}

.loginBlock a {
    color: cornflowerblue;
    text-decoration: none;
    border: 1px cornflowerblue solid;
}