
.header {
    grid-area: h;
    background-color: white;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 30px rgb(0 0 0 / 3%);
}

.logo {
    width:50px;
    height:50px;
    background-size: cover;
    background-position: center;
    margin-left: 2rem ;
}

.loginBlock {
    float: right;
    padding: 20px;

}


.loginBlock a {
    color: #fff;
    text-decoration: none;
    outline: none;
    font-size: 16px ;
}

.button{
    font-weight: 600;
    text-align: center;
    padding: 0.5rem ;
    margin-right: 0.5rem ;
    border-radius: 30px ;
    width: 80px ;
    line-height: 20px ;
    letter-spacing: 0.4px;
    background: linear-gradient(135deg, #05f, #09f);
    cursor: pointer;
}
.button:hover {
    background: linear-gradient(135deg, #0b51de, #006eb7);
}
.button:active {
    border: 1px solid white;
}
.hide {
    display: none;
}
.logOut {
    display: inline-block;
    width:40px;
    height:40px;
    border-radius: 40px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    position: relative;
}
.logOut:hover::before {
    border-radius: 40px;
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    opacity: 0.2;
}
.userImage {
    display: inline-block;
    width:40px;
    height:40px;
    border-radius: 40px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}