
.navLinkPages {
    grid-area: n;

}
.mainBlock {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgb(0 0 0 / 3%);
}
.secondaryBlock {
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-shadow: 0 8px 30px rgb(0 0 0 / 3%);
}
.item {
    margin: 10px;
    display: flex;
    align-items: center;
}

.navLinkPages a {
    text-decoration: none;
    color:#888888;
    font-weight: 600;
    transition: all 0.5s ease;
}
.navLinkPages a.active {
    color: #05f;
}
.navLinkPages a:hover {
    color: #05f;
}

.friendsBlock {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.imgFriend {
    display: inline-block;
    width:40px;
    height:40px;
    border-radius: 40px;
    background-size: cover;
    background-position: center;
    cursor:pointer;
}


.userImage {
    width:40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}