.formControl.error input,
.formControl.error textarea
{
    border: 1px solid red;
}
.formControl.error span{
    color:red;
    display: block;
}
.commonAuthError {
    width:200px;
    background-color: white;
    boeder: 1px solid black;
    color: red;
    text-align: center;
}