.profileInfoBlock {
background-color: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 8px 30px rgb(0 0 0 / 3%);


}

.photo {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
}
.contact{
    margin-left: 10px;
}
